.appbar {
	@include flex-between;
	@include container;

	h2 {
		border-bottom: 2px solid $dark;
		cursor: pointer;
		transition: 0.2s;
		font-size: 17.5px;
		color: $blue;
		font-weight: 500;
		padding: $sm-pad 0;
		&:hover {
			border-bottom: 2px solid $blue;
		}
	}
	a {
		text-decoration: none;
	}
}
