.while-not-coding {
	margin-top: 50px;
	h2 {
		font-size: 40px;
		color: $blue;
	}

	.socialcircle {
		margin: 0px auto;
		max-width: 1050px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;

		@include smallerThan(600px) {
			grid-template-columns: 1fr;
		}

		h2 {
			font-size: 30px;
			color: $half-white;
			font-weight: 400;
			// width: 100%;
		}

		//icons
		.socials {
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			margin-top: 2rem;

			.instagram-svg {
				&:hover {
					cursor: pointer;
					path {
						fill: $blue;
					}
				}
			}
			.twitter-svg {
				&:hover {
					cursor: pointer;
					path {
						fill: $blue;
					}
				}
			}
			.codesandbox-svg {
				&:hover {
					cursor: pointer;
					path {
						fill: $blue;
					}
				}
			}
			.linkedin-svg {
				&:hover {
					cursor: pointer;
					path {
						fill: $blue;
					}
				}
			}

			.github-svg {
				&:hover {
					cursor: pointer;
					path {
						fill: $blue;
					}
				}
			}
		}

		.hobbies {
			// @include flex-center;
			// flex-wrap: wrap;
			display: grid;
			grid-template-rows: repeat(3, 1fr);
			gap: 1rem;
			place-items: end;

			h2 {
				font-size: 30px;
				color: $half-white;
				font-weight: 400;
				// width: 100%;
			}

			.text-svg {
				// margin: 1.2rem;
				path {
					fill: none;
					stroke: #5187d8;
					stroke-width: 1.5;
					stroke-dasharray: 300;
					stroke-linecap: round;
					animation: eatingText-anim 4s linear infinite 0ms;
				}
			}
		}

		@keyframes eatingText-anim {
			from {
				stroke-dashoffset: 300;
			}
			to {
				stroke-dashoffset: 0;
			}
		}
	}
}
