*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

p {
	// padding: 0 7px;
	letter-spacing: 1px;
}

body {
	background-color: $dark;
	color: $half-white;
	font-family: 'Roboto', sans-serif;
}
