@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-end {
	display: flex;
	justify-content: flex-end;
}

@mixin flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin button-style-content {
	display: inline-block;
	border: 2px solid $blue;
	padding: $md-pad $lg-pad;
	background-color: rgba(81, 135, 216, 0.2);
	border-radius: $b-radius;
}

@mixin flex-around {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

@mixin card {
	padding: $lg-pad;
	box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.3);
	min-height: 360px;
	@include flex-around;
	transition: 0.15s;
	cursor: default;
	&:hover {
		transform: translateY(-5px);
	}
}

@mixin container {
	margin: 0rem auto;
	max-width: 1150px;
	padding: 1rem;
}

@mixin grid {
	display: grid;
	gap: 1.5rem;
}

@mixin button {
	padding: 10px 15px;
	border: 2px solid $blue;
	cursor: pointer;
	background-color: transparent;
	color: $half-white;
	font-size: 19px;
	border-radius: $b-radius;
	transition: 0.2s;
	&:hover {
		background-color: rgba(81, 135, 216, 0.2);
	}

	@include smallerThan(500px) {
		font-size: 19px;
		padding: $sm-font;
	}
}

//media queries
@mixin smallerThan($pixels) {
	@media (max-width: $pixels) {
		@content;
	}
}
